{% extends 'home.html' %}
{% load i18n %}
{% block content %}
<style>
    .custom-padding {
        padding: 20px; /* Пример отступа; адаптируйте по вашему усмотрению */
    }
    .bg-image {
        padding-bottom: 20px; /* Отступ снизу */
    }
    .content {
        margin-top: 20px; /* Отступ сверху для контента */
        margin-bottom: 20px; /* Отступ снизу для контента */
    }
</style>
<div class="bg-image">
    <div class="overlay"></div>
    <div class="container mt-5 content custom-padding">
        <div class="text-center text-white">
            <h1 class="display-2">{% trans "Контакты и обратная связь" %}</h1>
            <p class="lead">{% trans "Вы всегда можете связаться с нами!" %}</p>
            <p>{% trans "По всем вопросам обращайтесь по адресу:" %}</p>
            <p>Email: example@example.com</p>
            <p>{% trans "Телефон: +1234567890" %}</p>
        </div>
    </div>
</div>
{% endblock %}
