{% extends 'home.html' %}
{% load i18n %}
{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1 class="mb-4 text-white fw-bold display-2">{% trans "Интервью с экспертами" %}</h1>
            <p class="text-white">{% trans "Вдохновляющие беседы с ведущими специалистами IT-индустрии" %}</p>
        </div>
            <div class="container">
                <div class="row">
                    {% for expert_interview in object_list %}
                        <div class="col-md-12 mb-4">
                            <div class="bg-image card shadow-1-strong"
                                 style="background: linear-gradient(90deg, rgba(58,0,100,1) 0%, rgba(7,188,137,1) 49%, rgba(58,0,100,1) 100%);">
                                <div class="card-body text-white">
                                    <h2>{{ expert_interview.title }}</h2>
                                    <p>{{ expert_interview.interviewer }}</p>
                                    <p id="expert_interview-body-{{ expert_interview.pk }}" style="display: none;"></p>
                                    <a href="{% url 'interview_detail_list' expert_interview.pk %}" onclick="showInterviewDetails({{ expert_interview.pk }})">
                                        <button type="button" class="btn btn-primary">{% trans "Читать далее" %}</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>{% trans "Нет интервью" %}</p>
                    {% endfor %}
                </div>
            </div>
        <div class="pagination mt-4 text-center" style="font-size: 1.25rem; font-weight: bold;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="text-decoration-none text-dark" href="?page=1">{% trans "« Первая" %}</a>
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.previous_page_number }}">{% trans "Предыдущая" %}</a>
                {% endif %}

                <span class="current">
                    {% if page_obj.paginator.num_pages %}
                        {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ page_obj.paginator.num_pages }}
                    {% else %}
                        {% trans "Страница 1 из 1" %}
                    {% endif %}
                </span>

                {% if page_obj.has_next %}
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.next_page_number }}">{% trans "Следующая" %}</a>
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя »" %}</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}
