{% extends 'home.html' %}
{% load i18n %}
{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1 class="mb-4 text-white fw-bold display-1">{% trans "Новости и тенденции в IT" %}</h1>
            <p class="text-white">{% trans "Самые актуальные новости из мира информационных технологий" %}</p>
        </div>
            {% for it_news in page_obj %}
                <div style="margin-top: 1%">
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            <div class="col">
                                <div class="bg-image card shadow-1-strong border border-dark"
                                     style="background: linear-gradient(90deg, rgba(58,0,100,1) 0%, rgba(7,188,137,1) 49%, rgba(58,0,100,1) 100%);">
                                    <div class="card-body text-white">
                                        <h2>{{ it_news.title }}</h2>
                                        <p>{% trans "Автор" %}: <b>{{ it_news.author }}</b></p>
                                        <p>{{ it_news.body }}</p>
                                        <p>{% trans "Дата создания" %}: {{ it_news.created_at }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>{% trans "Нет новостей" %}</p>
            {% endfor %}

        <div class="pagination mt-4 text-center" style="font-size: 1.25rem; font-weight: bold; display: flex; justify-content: center;">    <span class="step-links">
        {% if is_paginated %}            {% if page_obj.has_previous %}
                <a class="text-decoration-none text-white me-3" href="?page=1">{% trans "« Первая" %}</a>                <a class="text-decoration-none text-white me-3" href="?page={{ page_obj.previous_page_number }}">{% trans "Предыдущая" %}</a>
            {% endif %}
            <span class="current" style="color: white;">                {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}                <a class="text-decoration-none text-white ms-3" href="?page={{ page_obj.next_page_number }}">{% trans "Следующая" %}</a>
                <a class="text-decoration-none text-white ms-3" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя »" %}</a>            {% endif %}
        {% endif %}    </span>
        </div>
    </div>
{% endblock content %}


