{% extends 'home.html' %}
{% load i18n %}
{% block content %}
    <div class="container mt-4">
        <div class="text-start">
            <h1 class="mb-4 text-white fw-bold display-2">{% trans "Статьи для профессионального роста" %}</h1>
        </div>
        {% for professional_growth in page_obj %}
            <div style="margin-top: 1%">
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="bg-image card shadow-1-strong"
                                 style="background: linear-gradient(90deg, rgba(58,0,100,1) 0%, rgba(7,188,137,1) 49%, rgba(58,0,100,1) 100%);">
                                <div class="card-body text-white">
                                    <h2>{{ professional_growth.title }}</h2>
                                    <p>{% trans "Автор статьи" %}: <b>{{ professional_growth.author }}</b></p>
                                    <p>{{ professional_growth.body }}</p>
                                    <p>{% trans "Дата создания" %}: {{ professional_growth.created_at }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{% trans "Нет доступных статей" %}</p>
        {% endfor %}
    </div>
    <div class="pagination mt-4 text-center" style="font-size: 1.25rem; font-weight: bold; display: flex; justify-content: center;">    <span class="step-links">
        {% if is_paginated %}            {% if page_obj.has_previous %}
                <a class="text-decoration-none text-white me-3" href="?page=1">{% trans "« Первая" %}</a>                <a class="text-decoration-none text-white me-3" href="?page={{ page_obj.previous_page_number }}">{% trans "Предыдущая" %}</a>
            {% endif %}
            <span class="current" style="color: white;">                {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}                <a class="text-decoration-none text-white ms-3" href="?page={{ page_obj.next_page_number }}">{% trans "Следующая" %}</a>
                <a class="text-decoration-none text-white ms-3" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя »" %}</a>            {% endif %}
        {% endif %}    </span>
    </div>
{% endblock content %}

