{% extends 'home.html' %}
{% load i18n %}
{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1 class="mb-4 text-white fw-bold display-2">{% trans "Статьи для развития навыков" %}</h1>
        </div>
        {% for skill_development in skill_development_list %}
            <div style="margin-top: 1%">
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="bg-image card shadow-1-strong"
                                 style="background: linear-gradient(90deg, rgba(58,0,100,1) 0%, rgba(7,188,137,1) 49%, rgba(58,0,100,1) 100%);">
                                <div class="card-body text-white">
                                    <h2>{{ skill_development.title }}</h2>
                                    <p>{% trans "Автор статьи:" %} <b>{{ skill_development.author }}</b></p>
                                    <p>{{ skill_development.body }}</p>
                                    <p>{% trans "Дата создания:" %} {{ skill_development.created_at }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{% trans "Нет доступных материалов для развития навыков" %}</p>
        {% endfor %}
    </div>

 <div class="pagination mt-4 text-center" style="font-size: 1.25rem; font-weight: bold;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="text-decoration-none text-dark" href="?page=1">{% trans "« Первая" %}</a>
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.previous_page_number }}">{% trans "Предыдущая" %}</a>
                {% endif %}

                <span class="current">
                    {% if page_obj.paginator.num_pages %}
                        {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ page_obj.paginator.num_pages }}
                    {% else %}
                        {% trans "Страница 1 из 1" %}
                    {% endif %}
                </span>

                {% if page_obj.has_next %}
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.next_page_number }}">{% trans "Следующая" %}</a>
                    <a class="text-decoration-none text-dark" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя »" %}</a>
                {% endif %}
            </span>
                    </div>
{% endblock content %}
     
